h1{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 60px;  
    border: 1px solid rgb(202, 128, 180);
    border-radius: 3%; 
    margin: 0;
}
h3{
    color: rgb(230, 219, 231);
    text-align: center;
    border: 1px solid rgb(240, 251, 168);  
    border-radius: 3%; 
}
body{
    background: rgb(191, 25, 141);
    
}
h2{
    text-align: center;
    margin-top: 30px;
    font-size: 30px;
    font-family: fantasy;
    color: rgb(218, 230, 230);
    width: auto;
}
footer{
    text-align: center;
    color: rgb(255, 255, 255);
    background: rgb(171, 120, 156);
    width: 150px;
    border-radius: 20%;
    height: 20px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 1px solid rgb(223, 247, 2);
    font-style: inherit;
    font-size: medium;
}
iframe{
    display: flex;
    align-items: center; 
    margin: auto;
    border: 0.1px solid rgb(220, 20, 20);
    width: auto;
}
hr{
    border: dotted 1px;
    width: auto;
    color: rgb(202, 211, 219);
    

}
img{
    height: 200px;
    display: flex;
    align-items: center; 
    margin: auto;
    width: 130px;
    margin-top: 20px;
    margin-bottom: 10px;
}
p{
    color: rgb(231, 219, 219);
    font-size: 30px;
    text-align: center;
    font-family: fantasy;
}
h6{
    text-align: end;
    margin-bottom: 0px;
    color: rgb(158, 152, 152);
}
#sue{
    width: 345px;
}
#celta{
    width: 345px;
}
#hoje{
    width: 180px;
}
#festivals{
    width: 345px;
}
#festamor{
    width: 345px;
}
#festaatual{
    width: 345px;
}
#baal{
    width: 345px;
}
#medo{
    width: 365px
    
}
#titulo{
    width: 365px
}
#topo{
    width: 345px;
    border-radius: 20%;
}