h1{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 50px;  
    border: 1px solid rgb(202, 60, 160);
    border-radius: 3%;
    
    
   
}
h3{
    color: rgb(230, 219, 231);
    text-align: center;
    border: 1px solid rgb(240, 251, 168);  
    border-radius: 3%; 
}
body{
    background: rgb(191, 25, 141);
}
h2{
    text-align: center;
    margin-top: 30px;
}
footer{
    text-align: center;
    color: rgb(255, 255, 255);
    background: rgb(171, 120, 156);
    width: 150px;
    border-radius: 20%;
    height: 20px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 1px solid rgb(223, 247, 2);
    font-style: inherit;
    font-size: medium;
}
iframe{
    display: flex;
    align-items: center; 
    margin: auto;
    border: 0.1px solid rgb(220, 20, 20);
}
hr{
    border: dotted 1px;
    width: auto;
    color: rgb(241, 243, 246);
}
