h1 {
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 25px rgb(169, 32, 157), 0 0 5px darkblue;
    font-size: 55px;
    text-shadow: 1px 1px 2px black, 0 0 25px rgb(255, 0, 204), 0 0 5px rgb(26, 26, 205);
    border-radius: 3%;
    margin: 0;

}

h3 {
    color: rgb(230, 219, 231);
    text-align: center;
    order: 1px solid rgb(240, 251, 168);
    border-radius: 3%;
}

body {
    background: rgb(191, 25, 141);
    background: linear-gradient(45deg, #f603b5,#ffea00,#b20f9c,#2609cd);
    animation: colors 15s ease infinite;
    background-size: 300% 300%;
}

@keyframes colors {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

h2 {
    text-align: center;
    margin-top: 30px;
    font-size: 30px;
    font-family: fantasy;
    text-shadow: 2px 2px red;
    
    width: auto;
}

footer {
    text-align: center;
    color: rgb(255, 255, 255);
    background: rgb(171, 120, 156);
    width: 150px;
    border-radius: 20%;
    height: 20px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 1px solid rgb(223, 247, 2);
    font-style: inherit;
    font-size: medium;
    text-shadow: 2px 2px 4px #000000;
}

iframe {
    display: flex;
    align-items: center;
    margin: auto;
    border: 0.1px solid rgb(220, 20, 20);
    width: auto;
}

hr {
    border: dotted 1px;
    width: auto;
    color: rgb(202, 211, 219);


}

img {
    height: 200px;
    display: flex;
    align-items: center;
    margin: auto;
    width: 130px;
    margin-top: 20px;
    margin-bottom: 10px;
}

p {
    text-align: center;
    font-size: 35px;
    text-shadow: 0 0 3px #ff00d0, 0 0 5px #f6ff00;
  

}

h6 {
    text-align: end;
    margin-bottom: 0px;
    color: rgba(255, 255, 255, 0.758);
  text-shadow: 2px 2px 4px #000000;
}

#sue {
    width: 280px;
}

#celta {
    width: 280px;
}

#hoje {
    width: 180px;
}

#festivals {
    width: 280px;
}

#festamor {
    width: 280px;
}

#festaatual {
    width: 280px;
}

#baal {
    width: 280px;
}

#medo {
    width: 280px;
    margin-top: 300px;
}

#titulo {
    width: 303px
}

#topo {
    width: 280px;
    border-radius: 20%;
}